@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

section {
    padding: 150px 20px;
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

header,
.hero {
    background-color: #1F2937;
}

header .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 50px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 50px;
}

.hero strong {
    color: #f9faf8;
    font-size: 48px;
}

.hero p,
a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero img {
    width: 500px;
    height: auto;
}

button {
    all: unset;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #4a8ffd;
}